.section-search-bar-container {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #dedede;
    padding: 8px;
    flex-grow: 1;
    border-radius: var(--Number-Scale-m, 12px);
    background: var(--Neutral-colors-black50, #F3F3F3);

    button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-icon {
            width: 16px;
        }
    }

    input {
        flex-grow: 1;
        font-size: 12px;
        font-weight: 500;

        &::placeholder{
            color: #000;
        }
    }
}