.textarea-with-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
    background: var(--Neutral-02, #F4F4F4);
    border-radius: 12px;


    label {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--Neutral-08, #111315);
        font-size: 12px;
        font-weight: 500;

        span {
            &:last-child {
                font-weight: 600;
            }
        }
    }

    textarea {
        border: none;
        outline: none;
        resize: none;
        background-color: transparent;
        padding: 0 !important;
        scrollbar-width: none;
        color: var(--Neutral-04, #6F767E);
        font-size: 15px;
        font-weight: 600;
    }
}