.add-button {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    padding: 8px 12px;
    border-radius: var(--Number-Scale-full, 99px);
    background: var(--Brand-color-Orange, #FF6300);

    span {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
}