.form-button {
    padding: 16px 100px;
    font-size: 16px;
    width: fit-content;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: var(--Number-Scale-full, 99px);
    background: var(--Brand-color-Orange, #FF6300);
}

.deactive {
    background: var(--Brand-color-Orange, #fc8f4b);

}