.primary-button {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #0B5ED7;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 16px;
    font-weight: 500;
    cursor: pointer;
}