.primary-button {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: var(--Number-Scale-full, 99px);
    background: var(--Brand-color-Orange, #FF6300);
}