.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #fcfcfc;
    width: 40%;
    padding: 16px;
    border-radius: 16px;

    .title {
        font-size: 42px;
        text-align: center;
        font-weight: 600;
    }

    .input-with-icon {
        width: 80%;
    }

    .form-button {
        width: 80%;
        margin-top: 12px;
    }
}