.mainpage-container {
    display: flex;
    // padding: 30px;
    min-height: 100vh;
    background-color: #fff;

    .main-page-centered-divv {
        width: 100%;
        display: flex;

        overflow: hidden;
        // height: calc(100vh - 60px);

        .content-wrapper {
            flex-grow: 1;

            .content {
                padding: 16px;

                .section-container {
                    display: flex;
                    flex-direction: column;
                    border-radius: 16px;

                    .section-header {
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        padding-right: 16px;

                        button {
                            cursor: pointer;
                            position: relative;
                        }

                        .primary-button {
                            margin-left: auto;
                        }

                        .section-name {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            font-size: 22px;
                            font-weight: 500;

                            span {
                                font-size: 24px;
                            }
                        }

                        .change-layout{
                            position: relative;
                            cursor: pointer;
                        }
                    }

                    .counts {
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        padding: 12px;

                        div {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span {
                                font-size: 12px;
                            }

                            span {
                                &:first-child {
                                    color: #0A58D1;
                                }

                                &:last-child {
                                    color: #989a9c;
                                }
                            }

                        }
                    }

                    .section-content {

                        .lang-tabs {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            padding: 16px;

                            button {
                                padding: 4px;
                                font-weight: 500;
                                border-radius: 3px;
                                cursor: pointer;
                            }

                            .active {
                                background-color: blue;
                                color: #fff;
                            }
                        }
                        
                    }
                }


            }
        }
    }

}