.mainpage-container {
    display: flex;

    .content-wrapper {
        flex-grow: 1;

        .content {
            padding: 16px;

            .section-container {
                display: flex;
                flex-direction: column;
                background-color: #fcfcfc;
                border-radius: 16px;
                padding: 16px;

                .section-header {
                    display: flex;
                    align-items: center;
                    gap: 24px;


                    button {
                        cursor: pointer;
                        position: relative;
                    }

                    .primary-button {
                        margin-left: auto;
                    }

                    .section-name {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        span {
                            font-size: 24px;
                        }
                    }
                }

                .product-counts {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    padding: 12px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        span {
                            font-size: 12px;
                        }

                        span {
                            &:first-child {
                                color: #0A58D1;
                            }

                            &:last-child {
                                color: #989a9c;
                            }
                        }

                    }
                }
            }
        }
    }
}