.layout-dropdown {
    top: 50px;
    right: -22px;

    &::before {
        content: "";
        position: absolute;
        top: -22px; // dropdown'ın üstünden çıkacak şekilde
        right: 22px; // buton hizasında ayarla
        border-width: 12px;
        border-style: solid;
        border-color: transparent transparent #fcfcfc transparent;
    }
}